name: Lint

on: [push, pull_request]

jobs:
  editorconfig-checker:
    runs-on: ubuntu-latest
    container:
      image: mstruebing/editorconfig-checker:v3.5.0@sha256:e866d1c87417e1e4f16f7630bdc0cd1ed6e961e90d5b750816964dca39387a21
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: editorconfig-checker
        run: editorconfig-checker .

  markdownlint:
    runs-on: ubuntu-latest
    container:
      image: davidanson/markdownlint-cli2:v0.19.1@sha256:502fcf316d575d1e663005c8d57688e5bda316f3996caa5715aa384fa1d34810
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: markdownlint
        run: markdownlint-cli2 **.{md,markdown}

  yamllint:
    runs-on: ubuntu-latest
    container:
      image: peterdavehello/yamllint:1.37.0@sha256:bb8e9a2970f31503714447e2c309add8eb27ad57a66dee6fa2d37322415ed0ae
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: yamllint
        run: yamllint .
